form{
background-image: url("fondo1.jpg");
background-repeat: no-repeat;
background-size: cover;
border-radius: 20cm;
align-items: center;

width: 200%;
  max-width: 800px;
  margin: 0 auto;
  border: 10px;
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body{
    background-image: url("fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: rgb(255, 0, 0);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}